[ambari-server]
c6401.ambari.apache.org

[ambari-agent]
c6401.ambari.apache.org

[ranger-admin]
c6401.ambari.apache.org

[all:vars]
ansible_ssh_user=vagrant
ansible_ssh_private_key_file=~/prj/ambari-vagrant/insecure_private_key
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ambari_build_number=103

kerberos_realm=EXAMPLE.COM
kerberos_domain_realm=ambari.apache.org
kdc_hostname=c6401.ambari.apache.org
keytab_file_name=ambari-infra-solr.service.keytab
kerberos_service_user=infra-solr
kerberos_service_host=c6401.ambari.apache.org

local_ambari_location=/Users/oszabo/prj/ambari

ranger_zookeeper_quorum=localhost:2181
ranger_sam_password=sam-password
ranger_tom_password=tom-password
ranger_admin_password=admin-password

ranger_admin_host=localhost

ranger_kms_host=localhost
ranger_kms_userlist=ambari-qa,hdfs,ranger

ranger_hive_host=localhost
ranger_hive_userlist=hive,ambari-qa,hdfs

ranger_kafka_host=localhost
ranger_kafka_userlist=kafka

ranger_knox_host=localhost

ranger_hbase_host=localhost
ranger_hbase_userlist=hbase

ranger_yarn_host=localhost
ranger_yarn_userlist=ambari-qa,yarn

ranger_scale_test_folder=/opt
ranger_scale_test_hostname=localhost

[kinit_host]
c6401.ambari.apache.org

[gce_controller]
xxx.xxx.xxx.xxx

[gce_controller:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=~/keys/gce-key
ansible_ssh_common_args='-o StrictHostKeyChecking=no'