[ambari-server]
c6401.ambari.apache.org

[ambari-agent]
c6401.ambari.apache.org

[iop-solr]
c6401.ambari.apache.org

[all:vars]
ansible_ssh_user=vagrant
ansible_ssh_private_key_file=~/prj/ambari-vagrant/insecure_private_key
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ambari_build_number=103
kerberos_domain_realm=ambari.apache.org
