[cluster]
cluster_name = {{ ambari_cluster }}
security = True

[spnego]
principal = HTTP/_HOST@EXAMPLE.COM
keytab = /etc/security/keytabs/spnego.service.keytab

[ambari-qa]
user = ambari-qa
principal = ambari-qa@EXAMPLE.COM
keytab = /etc/security/keytabs/smokeuser.headless.keytab

[zookeeper]
zookeeper_quorum = {{ ranger_zookeeper_quorum }}

[ranger]
ranger_host = {{ ranger_admin_host }}
ranger_port = 6080
user = ranger
principal = rangeradmin/_HOST@EXAMPLE.COM
keytab = /etc/security/keytabs/rangeradmin.service.keytab

[ranger_kms]
user = kms
principal = rangerkms/_HOST@EXAMPLE.COM
keytab = /etc/security/keytabs/rangerkms.service.keytab
ranger_kms_service = cl1_kms
user_list = hive,ambari-qa,hdfs,ranger

[hive]
user = hive
principal = hive/_HOST@EXAMPLE.COM
keytab = /etc/security/keytabs/hive.service.keytab
hive_jdbc_url = jdbc:hive2://localhost:2181/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2
user_list = hive,ambari-qa,hdfs
database = default
sleep_time = 5

[hdfs]
user = hdfs
principal = hdfs@EXAMPLE.COM
keytab = /etc/security/keytabs/hdfs.headless.keytab
user_list = ambari-qa,hive
sleep_time = 1

[kafka]
user = kafka
principal = kafka/_HOST@EXAMPLE.COM
keytab = /etc/security/keytabs/kafka.service.keytab
kafka_home = /usr/hdp/current/kafka-broker
user_list = hive,ambari-qa,hdfs,kafka
sleep_time = 5

[knox]
knox_host = localhost
knox_port = 8443
knox_topology = default
user_list = sam,tom,admin
principal = knox/_HOST@EXAMPLE.COM
keytab = /etc/security/keytabs/knox.service.keytab

[sam]
user = sam
password = {{ ranger_sam_password }}

[tom]
user = tom
password = {{ ranger_tom_password }}

[admin]
user = admin
password = {{ ranger_admin_password }}

[users]
user_list = hive,ambari-qa,hdfs

[groups]
group_list = denied,allowed