[host]
ip_address = {{ ansible_eth0.ipv4.address }}

[cluster]
cluster_name = {{ ambari_cluster }}
security = True

[spnego]
principal = HTTP/{{inventory_hostname}}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/spnego.service.keytab

[ambari-qa]
user = ambari-qa
principal = ambari-qa-{{ ambari_cluster }}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/smokeuser.headless.keytab

[zookeeper]
zookeeper_quorum = {{ ranger_zookeeper_quorum }}

[ambari-infra]
user = infra-solr
principal = infra-solr/{{ inventory_hostname }}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/ambari-infra-solr.service.keytab
solr_server_address = http://{{ solr_server_host }}:{{ solr_server_port }}
solr_ranger_collection = ranger_audits
document_number = 100
sleep_time = 1

[ranger]
ranger_host = {{ ranger_admin_host }}
ranger_port = 6080
user = ranger
principal = rangeradmin/{{ranger_admin_host}}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/rangeradmin.service.keytab

[ranger_kms]
user = kms
principal = rangerkms/{{ranger_kms_host}}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/rangerkms.service.keytab
ranger_kms_service = cl1_kms
user_list = {{ ranger_kms_userlist }}

[hive]
user = hive
principal = hive/{{ranger_hive_host}}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/hive.service.keytab
hive_jdbc_url = jdbc:hive2://{{ ranger_zookeeper_quorum }}/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2
user_list = {{ ranger_hive_userlist }}
database = default
sleep_time = 5

[hdfs]
user = hdfs
principal = hdfs-{{ ambari_cluster }}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/hdfs.headless.keytab
user_list = ambari-qa,hdfs
sleep_time = 1

[kafka]
user = kafka
principal = kafka/{{ranger_kafka_host}}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/kafka.service.keytab
kafka_home = /usr/hdp/current/kafka-broker
user_list = {{ ranger_kafka_userlist }}
sleep_time = 5

[knox]
knox_host = {{ranger_knox_host}}
knox_port = 8443
knox_topology = default
user_list = sam,tom,admin
principal = knox/{{ranger_knox_host}}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/knox.service.keytab

[hbase]
user = hbase
principal = hbase/{{ranger_hbase_host}}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/hbase.service.keytab
user_list = {{ ranger_hbase_userlist }}
hbase_cmd = /usr/hdp/current/hbase-client/bin/hbase
sleep_time = 5

[yarn]
user = yarn
principal = rm/{{ranger_yarn_host}}@{{ kerberos_realm }}
keytab = /etc/security/keytabs/rm.service.keytab
user_list = {{ ranger_yarn_userlist }}
sleep_time = 3
yarn_jar = /usr/hdp/current/hadoop-mapreduce-client/hadoop-mapreduce-examples.jar
queue_name = default

[sam]
user = sam
password = {{ ranger_sam_password }}

[tom]
user = tom
password = {{ ranger_tom_password }}

[admin]
user = admin
password = {{ ranger_admin_password }}

[users]
user_list = hive,ambari-qa,hdfs

[groups]
group_list = denied,allowed
